<table cellspacing="0" class="table" >
  <thead >
    <tr md-row>
      <th class="centre"><span>ID</span></th>
      <th><span>title</span></th>
      <th><span>Rating</span></th>
    </tr>
  </thead>
  <tbody md-body style="max-height: 20vh" ng-repeat="track in tracks.results" >
    <tr>
      <td>{{track.id}}</td>
      <td>{{track.title}}</td>
      <td>{{track.rating}}</td>
    </tr>
  </tbody>
</table>
<md-menu-item >
  <md-button class="md-raised md-primary" ng-click="listTracks()" > <md-icon md-font-icon="mdi mdi-account-circle mdi-24px" ></md-icon><span>My Profile</span></md-button>
</md-menu-item>

{{page}}
