body {
    font-family: 'Comfortaa', cursive;
    font-weight: 200;
    background-image: url("../images/bg.jpg");
    background-color: rgb(38, 38, 38);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.header {
    font-family: 'Lobster', cursive;
    margin: 15px 0px;
}
.home{
	background-image: url('../images/music.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	height: 75vh
}
md-input-container {
    margin-bottom: 0px!important;
}
md-card.main-card {
    height: 80vh;
    width: 80vw;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 35px 3px rgba(194, 221, 255, 1);
    -moz-box-shadow: 0px 0px 35px 3px rgba(194, 221, 255, 1);
    box-shadow: 0px 0px 35px 3px rgba(194, 221, 255, 1);
}
md-card.table {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(150, 150, 150, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(150, 150, 150, 1);
    box-shadow: 0px 0px 3px 0px rgba(150, 150, 150, 1);
}
md-card.features {
    width: 100%;
    padding: 10px;
}
md-menu-item {
    margin: 5px 10px;
}
.full-height {
    height: 100vh;
}
.center {
    text-align: center;
    margin: auto;
    align-self: center;
    align-items: center;
}
.right {
    width: 100%;
    text-align: right;
    left: 0px;
    align-self: right;
    align-items: right;
}
.thead {
    padding: 10px 0px;
    padding: 10px 0px;
    font-weight: normal;
    background: #A7B2BA;
}
.tbody {
    padding: 10px 0px;
    background: #e4e7ea;
    border-bottom: 1px #d3d8dc solid;
}
.scrollTable {
    overflow: scroll;
    height: 60vh;
}
tbody {
    max-height: 50vh !important;
    overflow: scroll;
}
md-toast.md-default-theme .md-toast-content,
md-toast .md-toast-content {
    background-color: rgb(250, 250, 250) !important;
    color: rgb(33, 33, 33)!important;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 1);
}
#spectrum {
    color: #575757 !important;
}
@-webkit-keyframes colours {
    0% {
        color: #d7e7ea;
    }
    15% {
        color: #8bc5d1;
    }
    30% {
        color: #39f;
    }
    45% {
        color: #8c8298;
    }
    60% {
        color: #8bc5d1;
    }
    75% {
        color: #39f;
    }
    90% {
        color: #999999;
    }
    100% {
        color: #d7e7ea;
    }
}
@-moz-keyframes colours {
    0% {
        color: #d7e7ea;
    }
    15% {
        color: #8bc5d1;
    }
    30% {
        color: #39f;
    }
    45% {
        color: #8c8298;
    }
    60% {
        color: #8bc5d1;
    }
    75% {
        color: #39f;
    }
    90% {
        color: #999999;
    }
    100% {
        color: #d7e7ea;
    }
}
#spectrum {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: colours;
    -webkit-animation-timing-function: ease;
    -moz-animation-direction: normal;
    -moz-animation-duration: 60s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: colours;
    -moz-animation-timing-function: ease;
}
.my-custom-stars .button .material-icons {
    font-size: 30px;
}
.my-custom-stars .star-button.star-on .material-icons {
    color: #0066CC;
    text-shadow: 2px 2px #666666;
}
.my-custom-stars .star-button.star-off .material-icons {
    color: #99ccff;
    text-shadow: 2px 2px #666666;
}
.box-one.ng-hide-add {
  -webkit-animation:0.75s hide;
  animation:0.75s hide;
}


@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.75);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.75);
  }
}


.box-one.ng-hide-remove {
  -webkit-animation:0.75s show;
  animation:0.75s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.75);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}
.moreDetails{
	background: #92a8b7;
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.75);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}
md-switch.md-default-theme .md-bar,
md-switch .md-bar {
    background-color: rgba(112, 165, 204, 0.5);
}
md-switch.md-default-theme .md-thumb,
md-switch .md-thumb {
    background-color: rgb(112, 165, 204);
}

.nofocus:focus {
    outline: none;
}

.md-chips md-chip {
    cursor: default;
    border-radius: 16px;
    display: block;
    height: 29px;
    line-height: 24px;
    margin: 3px 3px 0 0;
    padding: 2px 7px;
    float: right ;
		background: #B7D2E5;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
}
md-chips.md-default-theme .md-chips, md-chips .md-chips {
	box-shadow: 0 0px rgba(0,0,0,0.0);
}
md-toolbar.md-default-theme:not(.md-menu-toolbar).md-accent, md-toolbar:not(.md-menu-toolbar).md-accent {
    height: 60px;
    background-color:#575757;
    color: rgb(255,255,255);
}

@media screen and (max-width:960px) {
  .header {
      font-family: 'Lobster', cursive;
      margin: 6px 0px;
  }
	md-card.main-card{
      border-radius: 0px;
	    height: 100vh;
	    width: 100vw;
			padding: 0px;
			margin: 0px;
	}
  .ui{
    height: 100vh;
    width: 100vw;
  }
	.home{
		height: 99vh;
	}
	.my-custom-stars .button .material-icons {
	    font-size: 18px;
	}
	.my-custom-stars .star-button.star-on .material-icons {
	    color: #0066CC;
	    text-shadow: 0px 0px;
	}
	.my-custom-stars .star-button.star-off .material-icons {
	    color: #99ccff;
	    text-shadow: 0px 0px;
	}
	.scrollTable {
	    overflow: scroll;
	    height: calc(82vh - 50px);
	}
  md-card.features {
    width: inherit;
    position: fixed;
    vertical-align: middle;
    left: 0px;
    bottom: 0px;
    right: 0px;
    -webkit-box-shadow: -1px 21px 105px 21px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 21px 105px 21px rgba(0,0,0,0.75);
    box-shadow: -1px 21px 105px 21px rgba(0,0,0,0.75);
  }


  .stuff-to-show {
      position: relative;
      -webkit-transition:bottom linear 0.5s;
      transition:bottom linear 0.5s;
      bottom: 0;
  }

  .stuff-to-show.ng-hide {
  	bottom: -500px;
  }

  .stuff-to-show.ng-hide-add, .stuff-to-show.ng-hide-remove {
  	display:flex!important;
  }
  button.md-fab.md-primary.navBtn.md-hue-2.md-button.md-ink-ripple{
    height: 40px;
    width: 40px;
  }
}
