
<div layout="row" layout-align="space-around center" ng-init="search = true">

    <div flex="70" layout="column" layout-align="center stretch">
        <md-card class="table">
            <div>
                <div layout="row" class="thead">
                    <div flex="20"> ID </div>
                    <div flex="60"> Name </div>
                    <div flex="20"> </div>
                </div>
                <div class="scrollTable">
                    <div layout="column" class="box-one" style="height:inherit" ng-show="!genres" layout-align="center center">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <div layout="row" ng-show="genres" class="tbody box-one" ng-repeat="genre in genres">
                        <div flex="100" ng-show="!genre.id" layout="row" layout-align="center center" class="scrollTable"><i>No genres for the query</i>
                        </div>
                        <div flex="20" ng-show="genre.id" class="center">{{genre.id}}</div>
                        <div flex="60" layout="row" layout-align="center center" ng-show="genre.id">{{genre.name}}</div>
                        <md-button ng-show="genre.id" flex="20" ng-click="editGenre(genre)" class="md-icon-button">
                            <md-icon md-font-icon="mdi mdi-lead-pencil mdi-24px;"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-card>
        <div layout="row" layout-align="center center">
            <md-menu-item>
                <md-button ng-disabled="getGenre.previous == null" class="md-raised md-primary" ng-click="movePage(getGenre.previous)">
                    <md-icon md-font-icon="mdi mdi-arrow-left mdi-24px"></md-icon><span>Prev Page</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-disabled="getGenre.next == null " class="md-raised md-primary" ng-click="movePage(getGenre.next)"><span>Next Page</span>
                    <md-icon md-font-icon="mdi mdi-arrow-right mdi-24px"></md-icon>
                </md-button>
            </md-menu-item>
        </div>
    </div>

    <div flex="30" layout="column" layout-align="center stretch" style="height:70vh" ng-init="addBtn = true">

        <div>
            <md-icon id="spectrum" md-font-icon="mdi mdi-headphones mdi-48px"></md-icon>
            <h1 id="spectrum" class="header">Music Library</h1>
        </div>
        <div class="box-one" ng-show="search && addBtn && editBtn">
          <md-button class="md-raised md-primary md-hue-2" href="/#/app/tracks"><span>Browse tracks</span>
          </md-button>
        </div>
        <div class="box-one" ng-show="search && addBtn && editBtn">
          <md-button class="md-raised md-primary md-hue-2" href="/#/app/dashboard"><span>Back Home</span>
          </md-button>
        </div>
        <div class="box-one" ng-show="search && addBtn && editBtn">
            <md-button class="md-fab md-primary" aria-label="Search" ng-click="search = !search">
                <md-icon md-font-icon="mdi mdi-magnify md-primary md-hue-2 mdi-24px"></md-icon>
            </md-button>
        </div>

        <div class="box-one" ng-show="search && addBtn && editBtn" ng-click="addBtn = !addBtn">
            <md-button class="md-fab md-primary" aria-label="Add">
                <md-icon md-font-icon="mdi mdi-library-plus md-primary md-hue-2 mdi-24px"></md-icon>
            </md-button>
        </div>

        <md-card class="features box-one" ng-show="!search">
            <span class="right">
            <md-button ng-click="search = !search" class="md-icon-button"><md-icon md-font-icon="mdi mdi-close mdi-24px;"></md-icon></md-button>
            </span>
            <div layout="row" layout-align="center center" ng-init="query = false">
                <h4>Search by ID</h4>
            </div>
            <form layout="row" layout-align="center center" name="searchGenreForm" ng-submit="searchGenre(s)">
                <md-input-container flex="70" ng-show="clearResults == false" class="box-one">
                    <label class="box-one">Title</label>
                    <input ng-model="s.id" required>
                </md-input-container>
                <md-button class="md-raised md-primary box-one" ng-show="clearResults == false" ng-disabled="searchGenreForm.$invalid" type="submit">Search</md-button>
                <md-button class="md-raised md-primary box-one" ng-show="clearResults == true" ng-click="Allgenre()">Clear Results</md-button>
            </form>
        </md-card>

        <md-card class="features box-one" ng-show="!addBtn">
            <span class="right">
            <md-button ng-click="addBtn = !addBtn" class="md-icon-button"><md-icon md-font-icon="mdi mdi-close mdi-24px;"></md-icon></md-button>
            </span>
            <div layout="row" layout-align="center center" ng-init="query = false">
                <h4>Add Genre</h4>
            </div>
            <form layout="row" layout-align="center center" name="addGenreForm" ng-submit="postGenre(s)" ng-show="clearResults != true">

                <md-input-container flex="70" ng-show="clearResults == false" class="box-one" required>
                    <label class="box-one">Name</label>
                    <input ng-model="s.name" required>
                </md-input-container>
                <md-button class="md-raised md-primary box-one" ng-show="clearResults != true" ng-disabled="addGenreForm.$invalid" type="submit">Add</md-button>

            </form>
            <md-button class="md-raised md-primary box-one" ng-show="clearResults == true" ng-click="Allgenre()">Load Genre List</md-button>
        </md-card>

        <md-card class="features box-one" ng-show="!editBtn" ng-init="editBtn = true">
            <span class="right">
            <md-button ng-click="editBtn = !editBtn" class="md-icon-button"><md-icon md-font-icon="mdi mdi-close mdi-24px;"></md-icon></md-button>
            </span>
            <form layout="column" name="editGenreForm" ng-submit="postGenre(b)" ng-show="clearResults != true">
                <div layout="row" layout-align="center center" ng-init="query = false">
                    <h4>Edit Genre</h4>
                </div>
                <md-input-container flex="100" ng-show="clearResults == false" class="box-one" required>
                    <label class="box-one">Name</label>
                    <input ng-model="b.name" required>
                </md-input-container>
                <md-button class="md-raised md-primary box-one" ng-show="clearResults != true" ng-disabled="editGenreForm.$invalid" type="submit">Update</md-button>

            </form>
            <md-button class="md-raised md-primary box-one" ng-show="clearResults == true" ng-click="Allgenre()">Load Genre List</md-button>
        </md-card>

    </div>

  </div>
