<md-toolbar class="md-accent" hide-gt-sm>
  <div class="md-toolbar-tools" layout="row" layout-align="start center">
    <div layout="row" layout-align="center center" flex="50">
      <md-button href="/#/app/dashboard" class="md-icon-button"><md-icon md-font-icon="mdi mdi-arrow-left mdi-24px;"></md-icon></md-button>
      <md-icon md-font-icon="mdi mdi-headphones mdi-24px"></md-icon>
      <h2 class="header">Music Player</h2>
    </div>
    <span flex="20"> </span>
    <div flex="30" layout="row" layout-align="space-around center">
      <div class="box-one" ng-show="search && addBtn && editBtn">
          <md-button class="md-fab md-primary navBtn md-hue-2" aria-label="Search" ng-click="search = !search">
              <md-icon md-font-icon="mdi mdi-magnify md-primary mdi-12px"></md-icon>
          </md-button>
      </div>

      <div class="box-one" ng-show="search && addBtn && editBtn" ng-click="addBtn = !addBtn">
          <md-button class="md-fab md-primary navBtn md-hue-2" aria-label="Add">
              <md-icon md-font-icon="mdi mdi-library-plus md-primary mdi-12px"></md-icon>
          </md-button>
      </div>

    </div>

  </div>
</md-toolbar>

<div layout="row" layout-align="space-around center" ng-init="search = true">

    <div flex-gt-sm="70"  flex-xs="100" flex-sm="100" layout="column" layout-align="center stretch">
        <md-card class="table">
            <div>
                <div layout="row" class="thead">
                    <div flex="35"> Title </div>
                    <div flex="55"> Rating </div>
                    <div flex="10"> </div>
                </div>
                <div class="scrollTable">
                    <div layout="column" class="box-one" style="height:inherit" ng-show="!tracks" layout-align="center center">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <div ng-repeat="track in tracks" >
                      <div layout="row"  ng-show="tracks" class="tbody box-one">
                          <div flex="100" ng-show="!track.id" layout="row" layout-align="center center" class="scrollTable"><i>No tracks for the query</i>
                          </div>
                          <div flex="35" ng-click="moreDetails = !moreDetails" ng-show="track.id" class="center nofocus">{{track.title}}</div>
                          <div flex="55" ng-click="moreDetails = !moreDetails" layout="row" class="nofocus" layout-align="center center" ng-show="track.id">
                              <jk-rating-stars max-rating="9" rating="track.rating" class="center my-custom-stars" read-only="readOnly"></jk-rating-stars>
                          </div>
                          <md-button ng-show="track.id" flex="10" ng-click="editTrack(track)" class="md-icon-button">
                              <md-icon md-font-icon="mdi mdi-lead-pencil mdi-24px;"></md-icon>
                          </md-button>
                      </div>
                       <div class="tbody box-one moreDetails" layout="row" flex="100" ng-show="moreDetails">
                           <div flex="30" layout="row" layout-align="center center">
                             {{track.id}}
                           </div>
                           <div flex="70">
                             <div ng-show="track.genres.length != 0" >
                               <md-chips class="custom-chips genre right" ng-model="track.genres" readonly="true"
                                   md-removable="false">
                                <md-chip-template>
                                  <span>
                                    <strong>{{$chip.name}}</strong>
                                  </span>
                                </md-chip-template>
                                <button md-chip-remove class="md-primary vegetablechip">
                                  <md-icon md-svg-icon="md-close"></md-icon>
                                </button>
                              </md-chips>
                            </div>
                            <div ng-show="track.genres.length ==  0" >
                              No genres present
                            </div>
                          </div>
                       </div>
                   </div>

                </div>
            </div>
        </md-card>
        <div layout="row" layout-align="center center">
            <md-menu-item>
                <md-button ng-disabled="getTracks.previous == null" class="md-raised md-primary" ng-click="movePage(getTracks.previous)">
                    <md-icon md-font-icon="mdi mdi-arrow-left mdi-24px"></md-icon><span>Prev Page</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-disabled="getTracks.next == null " class="md-raised md-primary" ng-click="movePage(getTracks.next)"><span>Next Page</span>
                    <md-icon md-font-icon="mdi mdi-arrow-right mdi-24px"></md-icon>
                </md-button>
            </md-menu-item>
        </div>
    </div>

    <div flex-gt-sm="30" layout="column" layout-align="center stretch" style="height:70vh" ng-init="addBtn = true">

        <div hide-xs hide-sm >
            <md-icon id="spectrum" md-font-icon="mdi mdi-headphones mdi-48px"></md-icon>
            <h1 id="spectrum" class="header">Music Library</h1>
        </div>
        <div class="box-one" ng-show="search && addBtn && editBtn" hide-xs hide-sm >
          <md-button class="md-raised md-primary md-hue-2" href="/#/app/genres"><span>Browse genres</span>
          </md-button>
        </div>
        <div class="box-one" ng-show="search && addBtn && editBtn" hide-xs hide-sm >
          <md-button class="md-raised md-primary md-hue-2" href="/#/app/dashboard"><span>Back Home</span>
          </md-button>
        </div>

        <div class="box-one" ng-show="search && addBtn && editBtn" hide-xs hide-sm >
            <md-button class="md-fab md-primary md-hue-2" aria-label="Search" ng-click="search = !search">
                <md-icon md-font-icon="mdi mdi-magnify md-primary mdi-24px"></md-icon>
            </md-button>
        </div>

        <div class="box-one" ng-show="search && addBtn && editBtn" ng-click="addBtn = !addBtn" hide-xs hide-sm >
            <md-button class="md-fab md-primary md-hue-2" aria-label="Add">
                <md-icon md-font-icon="mdi mdi-library-plus md-primary mdi-24px"></md-icon>
            </md-button>
        </div>

        <md-card class="features box-one stuff-to-show" ng-show="!search" effect>
            <span class="right">
            <md-button ng-click="search = !search" class="md-icon-button"><md-icon md-font-icon="mdi mdi-close mdi-24px;"></md-icon></md-button>
            </span>
            <div layout="row" layout-align="center center" ng-init="query = false">
                <h4>Search Tracks</h4>
            </div>
            <div layout="row" layout-align="center center" ng-init="query = false">
                <p flex="45"> Title </p>
                <md-switch flex="10" class="md-primary" name="special" ng-model="query"></md-switch>
                <p flex="45"> ID </p>
            </div>
            <form layout="row" layout-align="center center" name="searchTrackForm" ng-submit="searchTrack(s)">
                <md-input-container flex="70" ng-show="clearResults == false" class="box-one">
                    <label class="box-one" ng-show="query == false">Title</label>
                    <label class="box-one" ng-show="query == true">ID</label>
                    <input ng-model="s.id" required>
                </md-input-container>
                <md-button class="md-raised md-primary box-one" ng-show="clearResults == false" ng-disabled="searchTrackForm.$invalid" type="submit">Search</md-button>
                <md-button class="md-raised md-primary box-one" ng-show="clearResults == true" ng-click="Alltracks()">Clear Results</md-button>
            </form>
        </md-card>

        <md-card class="features box-one stuff-to-show" ng-show="!addBtn" effect>
            <span class="right">
            <md-button ng-click="addBtn = !addBtn" class="md-icon-button"><md-icon md-font-icon="mdi mdi-close mdi-24px;"></md-icon></md-button>
            </span>
            <form layout="column" name="addTrackForm" ng-submit="postTrack(s)" ng-init="s.genres = []" ng-show="clearResults != true">
                <md-input-container flex="100" ng-show="clearResults == false" class="box-one" required layout-padding>
                    <label class="box-one">Title</label>
                    <input ng-model="s.title" required>
                </md-input-container>
                <div style="width: inherit; overflow: scroll" layout="row" layout-align="center center">
                    <jk-rating-stars max-rating="9" class="center my-custom-stars" on-rating="addrating(rating)" ng-model="s.rating"></jk-rating-stars>
                </div>
                <div layout="column" layout-align="center stretch" layout-padding>
                    <md-chips ng-model="s.genres" md-removable="true" placeholder="Enter a genre" delete-button-label="Remove genre" delete-hint="Press delete to remove genre" secondary-placeholder="+Tag"></md-chips>
                </div>
                <md-button class="md-raised md-primary box-one" ng-show="clearResults != true" ng-disabled="addTrackForm.$invalid" type="submit">Add</md-button>

            </form>
            <md-button class="md-raised md-primary box-one" ng-show="clearResults == true" ng-click="Alltracks()">Load Track List</md-button>
            <md-button class="md-raised md-primary box-one" ng-show="clearResults == true" ng-click="clearResults = false">Add More tracks</md-button>
        </md-card>

        <md-card class="features box-one stuff-to-show" ng-show="!editBtn" ng-init="editBtn = true" effect>
            <span class="right">
            <md-button ng-click="editBtn = !editBtn" class="md-icon-button"><md-icon md-font-icon="mdi mdi-close mdi-24px;"></md-icon></md-button>
            </span>
            <div layout="row" layout-align="center center" ng-init="query = false">
                <h4>Edit Tracks</h4>
            </div>
            <form layout="column" name="editTrackForm" ng-submit="postTrack(b)" ng-show="clearResults != true">
                <md-input-container flex="100" ng-show="clearResults == false" class="box-one" required>
                    <label class="box-one">Title</label>
                    <input ng-model="b.title" required>
                </md-input-container>
                <div style="width: inherit; overflow: scroll" layout="row" layout-align="center center">
                    <jk-rating-stars max-rating="9" class="center my-custom-stars" on-rating="addTrackrating(rating)" ng-model="b.rating"></jk-rating-stars>
                </div>
                <div layout="row" layout-align="center center">
                    <md-chips ng-model="b.genres" md-removable="true" placeholder="Enter a genre" delete-button-label="Remove genre" delete-hint="Press delete to remove genre" secondary-placeholder="+Tag"></md-chips>
                </div>
                <md-button class="md-raised md-primary box-one" ng-show="clearResults != true" ng-disabled="editTrackForm.$invalid" type="submit">Update</md-button>

            </form>
            <md-button class="md-raised md-primary box-one" ng-show="clearResults == true" ng-click="Alltracks()">Load Track List</md-button>
        </md-card>


    </div>
</div>
