/* line 1, ../../app/styles/style.scss */
body {
  font-family: 'Comfortaa', cursive;
  font-weight: 200;
  background-image: url("../images/bg.jpg");
  background-color: #262626;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* line 10, ../../app/styles/style.scss */
.header {
  font-family: 'Lobster', cursive;
  margin: 15px 0px;
}

/* line 14, ../../app/styles/style.scss */
.home {
  background-image: url("../images/music.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  height: 75vh;
}

/* line 21, ../../app/styles/style.scss */
md-input-container {
  margin-bottom: 0px !important;
}

/* line 24, ../../app/styles/style.scss */
md-card.main-card {
  height: 80vh;
  width: 80vw;
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 35px 3px #c2ddff;
}

/* line 35, ../../app/styles/style.scss */
md-card.table {
  box-shadow: 0px 0px 3px 0px #969696;
}

/* line 40, ../../app/styles/style.scss */
md-card.features {
  width: 100%;
  padding: 10px;
}

/* line 44, ../../app/styles/style.scss */
md-menu-item {
  margin: 5px 10px;
}

/* line 47, ../../app/styles/style.scss */
.full-height {
  height: 100vh;
}

/* line 50, ../../app/styles/style.scss */
.center {
  text-align: center;
  margin: auto;
  align-self: center;
  align-items: center;
}

/* line 56, ../../app/styles/style.scss */
.right {
  width: 100%;
  text-align: right;
  left: 0px;
  align-self: right;
  align-items: right;
}

/* line 63, ../../app/styles/style.scss */
.thead {
  padding: 10px 0px;
  padding: 10px 0px;
  font-weight: normal;
  background: #A7B2BA;
}

/* line 69, ../../app/styles/style.scss */
.tbody {
  padding: 10px 0px;
  background: #e4e7ea;
  border-bottom: 1px #d3d8dc solid;
}

/* line 74, ../../app/styles/style.scss */
.scrollTable {
  overflow: scroll;
  height: 60vh;
}

/* line 78, ../../app/styles/style.scss */
tbody {
  max-height: 50vh !important;
  overflow: scroll;
}

/* line 82, ../../app/styles/style.scss */
md-toast.md-default-theme .md-toast-content,
md-toast .md-toast-content {
  background-color: #fafafa !important;
  color: #212121 !important;
  box-shadow: 0px 0px 3px 0px white;
}

/* line 90, ../../app/styles/style.scss */
#spectrum {
  color: #575757 !important;
}
/* line 145, ../../app/styles/style.scss */
#spectrum {
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: colours;
  -webkit-animation-timing-function: ease;
  -moz-animation-direction: normal;
  -moz-animation-duration: 60s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: colours;
  -moz-animation-timing-function: ease;
}

/* line 157, ../../app/styles/style.scss */
.my-custom-stars .button .material-icons {
  font-size: 30px;
}

/* line 160, ../../app/styles/style.scss */
.my-custom-stars .star-button.star-on .material-icons {
  color: #0066CC;
  text-shadow: 2px 2px #666666;
}

/* line 164, ../../app/styles/style.scss */
.my-custom-stars .star-button.star-off .material-icons {
  color: #99ccff;
  text-shadow: 2px 2px #666666;
}

/* line 168, ../../app/styles/style.scss */
.box-one.ng-hide-add {
  animation: 0.75s hide;
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity: 0;
    transform: scale(0.75);
  }
}
/* line 202, ../../app/styles/style.scss */
.box-one.ng-hide-remove {
  animation: 0.75s show;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* line 220, ../../app/styles/style.scss */
.moreDetails {
  background: #92a8b7;
}
/* line 237, ../../app/styles/style.scss */
md-switch.md-default-theme .md-bar,
md-switch .md-bar {
  background-color: rgba(112, 165, 204, 0.5);
}

/* line 241, ../../app/styles/style.scss */
md-switch.md-default-theme .md-thumb,
md-switch .md-thumb {
  background-color: #70a5cc;
}

/* line 246, ../../app/styles/style.scss */
.nofocus:focus {
  outline: none;
}

/* line 250, ../../app/styles/style.scss */
.md-chips md-chip {
  cursor: default;
  border-radius: 16px;
  display: block;
  height: 29px;
  line-height: 24px;
  margin: 3px 3px 0 0;
  padding: 2px 7px;
  float: right;
  background: #B7D2E5;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
}

/* line 264, ../../app/styles/style.scss */
md-chips.md-default-theme .md-chips, md-chips .md-chips {
  box-shadow: 0 0px transparent;
}

@media screen and (max-width: 736px) {
  /* line 269, ../../app/styles/style.scss */
  md-card.main-card {
    height: 95vh;
    width: 95vw;
    padding: 0px;
  }

  /* line 274, ../../app/styles/style.scss */
  .home {
    height: 95vh;
    border-radius: 10px;
  }

  /* line 278, ../../app/styles/style.scss */
  .my-custom-stars .button .material-icons {
    font-size: 15px;
  }

  /* line 281, ../../app/styles/style.scss */
  .my-custom-stars .star-button.star-on .material-icons {
    color: #0066CC;
    text-shadow: 2px 2px #666666;
  }

  /* line 285, ../../app/styles/style.scss */
  .my-custom-stars .star-button.star-off .material-icons {
    color: #99ccff;
    text-shadow: 2px 2px #666666;
  }

  /* line 289, ../../app/styles/style.scss */
  .scrollTable {
    overflow: scroll;
    height: 78vh;
  }
}

/*# sourceMappingURL=style.css.map */