<section ng-controller="appCtrl" layout="row" layout-align="start stretch" class="full-height">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

      <md-toolbar layout="column" layout-align="center center"  class="md-hue-1">
        <div layout="row" layout-align="center center"><img class="logo" src="../images/logo.png"/><h1 class="md-toolbar-tools">A-List</h1></div>
      </md-toolbar>

      <md-card class="profile-image-bg">
        <md-card-title layout="column" layout-align="center center">
          <div><img class="profile-circle" ng-src="{{profile.profile_pic}}" ></img></div>
          <md-card-title-text>
            <span class="white-text md-headline">{{profile.username}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>

      <md-content layout-padding>
        <md-menu-item>
          <md-button ng-click="toggleMenu()" href="/#/app/dashboard"> <md-icon md-font-icon="mdi mdi-account-circle mdi-24px" ></md-icon><span md-menu-align-target>My Profile</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="toggleMenu()" href="/#/app/payments"> <md-icon md-font-icon="mdi mdi-cash-usd mdi-24px" ></md-icon><span md-menu-align-target>Payments</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="toggleMenu()" href="/#/app/change_password"> <md-icon md-font-icon="mdi mdi-key-variant mdi-24px" ></md-icon><span md-menu-align-target>Change Password</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="toggleMenu()" href="/#/app/faq"> <md-icon md-font-icon="mdi mdi-comment-question-outline mdi-24px" ></md-icon><span md-menu-align-target>FAQ</md-button>
        </md-menu-item>

      </md-content>
      <footer>
        <p>© 2017 A-List Chat. <br/> All rights reserved.</p>
      </footer>
    </md-sidenav>

    <md-content layout="column" layout-align="start stretch" flex>

      <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
              <md-button hide-gt-md class="md-icon-button" aria-label="side-nav" ng-click="toggleMenu()">
                <md-icon md-font-icon="mdi mdi-menu mdi-24px"></md-icon>
              </md-button>

              <h2 hide-gt-md flex md-truncate>A-List</h2>
              <span flex></span>
              <md-button href="/#" ng-click="logout()" aria-label="More">
                <md-icon md-font-icon="mdi mdi-logout mdi-24px"></md-icon>logout
              </md-button>
            </div>
      </md-toolbar>
      <div ui-view flex class="view"></div>

    </md-content>
</section>
